body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:829px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:209px;
  width:327px;
  height:206px;
}
#u29_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:206px;
  overflow:auto;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(112, 128, 144, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:98px;
  width:70px;
  height:40px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(112, 128, 144, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:98px;
  width:70px;
  height:40px;
  display:flex;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:98px;
  background:inherit;
  background-color:rgba(229, 81, 22, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:831px;
  height:98px;
  display:flex;
  font-family:"Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
}
#u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
