h1 {
    font-family: "Consolas", monospace;
    color: aquamarine;
}

h2 {
    font-family: "Homer Simpson UI";
    color: brown;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
}