//Colores

$white: yellow;
$body-bg: black;
$body-color: #fff;
$a-color: rgb(15, 15, 15);
$header-color: rgb(64, 64, 209);
$aside-color: rgb(32, 165, 154);
$main-color: rgb(224, 18, 18);
$nav-color: chartreuse;
$img-bg: (253, 0, 177, 0.555);
$hover-ul-li-color: rgb(250, 246, 246); 
$h1-color: white;
$footer-bg: white;
$footer-color: #303030;
$footer-a: #36d;

$primary-color: $white;
$secondary-color: $body-bg;